.popup-wrap-to-designers._popup#_popup
    section.popup-wrap-to-designers__body
        .popup-wrap-to-designers__container._popup__container
            h2.popup__title Помощь дизайнера
            .popup__block
                .popup__block-item
                    ol.popup__list(type="A")  
                        li.popup__list-item Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            ol.popup__sub-list(type="1")
                                li.popup__sub-list-item Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                li.popup__sub-list-item Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        li.popup__list-item Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            ol.popup__sub-list(type="1")
                                li.popup__sub-list-item Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                li.popup__sub-list-item Lorem ipsum dolor sit amet, consectetur adipiscing elit.                            
                .popup__block-item
                    .popup__block-sub-item 
                        .popup__block-img-box
                            svg.popup__icon(width="50" height="50")
                                use(xlink:href="assets/images/sprite.svg#messages-icon")
                        .popup__block-text-box 
                            h3.popup__block-title Lorem ipsum dolor sit amet.
                            p.popup__block-text Lorem ipsum dolor sit amet.       
                    .popup__block-sub-item 
                        .popup__block-img-box
                            svg.popup__icon(width="50" height="50")
                                use(xlink:href="assets/images/sprite.svg#telephone-icon")
                        .popup__block-text-box 
                            h3.popup__block-title Lorem ipsum dolor sit amet.
                            p.popup__block-text Lorem ipsum dolor sit amet.               
                    .popup__block-sub-item 
                        .popup__block-img-box
                            svg.popup__icon(width="50" height="50")
                                use(xlink:href="assets/images/sprite.svg#email-icon")
                        .popup__block-text-box 
                            h3.popup__block-title Lorem ipsum dolor sit amet.
                            p.popup__block-text Lorem ipsum dolor sit amet.                   
                .popup__block-item.popup__block-item-textareas
                    label.popup__block-label Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        input.popup__block-textarea(type="textarea")
                    label.popup__block-label Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        input.popup__block-textarea(type="textarea")
                    label.popup__block-label Lorem ipsum dolor sit amet consectetur adipisicing elit.   
                        input.popup__block-textarea(type="textarea")
                button.popup__btn-send.form__btn.btn.btn--blue(type="submit") Отправить
            button.popup-form__btn.popup__close._close-popup(type="button" aria-label="Зыкрыть")
                svg.popup__close-icon(width="13" height="13")
                    use(xlink:href="assets/images/sprite.svg#icon-close")
