.snackbar.snackbar__if-empty._active
    .snackbar__body 
        .snackbar__content
            .snackbar__block
                p.snackbar__text Укажите имя кампании
                button.snackbar__btn.snackbar__close
                    svg.snackbar__close-icon(width="14" height="14")
                        use(xlink:href="assets/images/sprite.svg#close-snackbar")
//- .snackbar.snackbar__if-incorrect 
//-     .snackbar__body 
//-         .snackbar__content
//-             .snackbar__block
//-                 p.snackbar__text Пожалуйста введите корректные данные
//-                 button.snackbar__btn.snackbar__close
//-                     svg.snackbar__close-icon(width="14" height="14")
//-                         use(xlink:href="assets/images/sprite.svg#close-snackbar")
