button.tab-content__btn.btn.btn--black Добавить контент из медиафайлов

.tab-content__table-wrap
    table.tab-content__table.tab-table
        thead.tab-table__head
            tr.tab-table__head-row
                th.tab-table__cell Название файла
                th.tab-table__cell Разрешение<br> показываемого контента<br> (В х Ш)
                th.tab-table__cell Утвержденный<br> статус
                th.tab-table__cell Длительность<br> показа рекламы
                th.tab-table__cell Формат
                th.tab-table__cell Действия
                th.tab-table__cell 
        tbody.tab-table__body
            tr.tab-table__row
                td.tab-table__cell
                    span.tab-table__caption Название файла
                    span.tab-table__val Видео для кампании<br> на Адмиралтейской
                td.tab-table__cell 
                    span.tab-table__caption Разрешение<br> показываемого контента<br> (В х Ш)
                    span.tab-table__val 320 х 240 px
                td.tab-table__cell
                    span.tab-table__caption Утвержденный статус
                    span.tab-table__val На рассмотрении
                td.tab-table__cell
                    span.tab-table__caption Длительность<br> показа рекламы
                    span.tab-table__val 28 секунд
                td.tab-table__cell
                    span.tab-table__caption Формат
                    span.tab-table__val Видео
                td.tab-table__cell
                    button.tab-table__btn-reset.btn.btn--black Отменить выбор
                td.tab-table__cell.tab-table__cell--del
                    button.tab-table__btn-delete
                        svg(width="20" height="20")
                            use(xlink:href="assets/images/sprite.svg#garbage-can")
            tr.tab-table__row
                td.tab-table__cell
                    span.tab-table__caption Название файла
                    span.tab-table__val Видео для кампании<br> на Адмиралтейской
                td.tab-table__cell 
                    span.tab-table__caption Разрешение<br> показываемого контента<br> (В х Ш)
                    span.tab-table__val 320 х 240 px
                td.tab-table__cell
                    span.tab-table__caption Утвержденный статус
                    span.tab-table__val Утвержден
                td.tab-table__cell
                    span.tab-table__caption Длительность<br> показа рекламы
                    span.tab-table__val 28 секунд
                td.tab-table__cell
                    span.tab-table__caption Формат
                    span.tab-table__val Видео
                td.tab-table__cell
                    button.tab-table__btn-reset.btn.btn--blue Назначить контент
                td.tab-table__cell.tab-table__cell--del
                    button.tab-table__btn-delete
                        svg(width="20" height="20")
                            use(xlink:href="assets/images/sprite.svg#garbage-can")
            tr.tab-table__row
                td.tab-table__cell
                    span.tab-table__caption Название файла
                    span.tab-table__val Видео для кампании<br> на Адмиралтейской
                td.tab-table__cell 
                    span.tab-table__caption Разрешение<br> показываемого контента<br> (В х Ш)
                    span.tab-table__val 320 х 240 px
                td.tab-table__cell
                    span.tab-table__caption Утвержденный статус
                    span.tab-table__val Утвержден
                td.tab-table__cell
                    span.tab-table__caption Длительность<br> показа рекламы
                    span.tab-table__val 28 секунд
                td.tab-table__cell
                    span.tab-table__caption Формат
                    span.tab-table__val Видео
                td.tab-table__cell
                    button.tab-table__btn-reset.btn.btn--blue Назначить контент
                td.tab-table__cell.tab-table__cell--del
                    button.tab-table__btn-delete
                        svg(width="20" height="20")
                            use(xlink:href="assets/images/sprite.svg#garbage-can")
.tab-content__sroll-icon
    img(src="assets/images/scrolling.png", alt="")